#invitation-details, #rsvp-form {
    margin-top: 2em;
    padding: 1em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: .2em solid grey;
}



#invitation-body {
    padding-bottom: 2em;
    margin-top: 5em;
    margin-bottom: 5em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#footer {
    padding-bottom: 30px;
}
