#invitation-details, #rsvp-form {
    margin-top: 2em;
    padding: 1em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: .2em solid grey;
}


body {
    background: url('../images/uno.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#invitation-body {
    padding-bottom: 2em;
    margin-top: 5em;
    margin-bottom: 5em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#footer {
    padding-bottom: 30px;
}
