body {
    background: url('../images/confirm.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#main {
    background-color: #fff;
    padding-bottom: 2em;
    margin-top: 5em;
    margin-bottom: 5em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    opacity: 0.6;
    text-align: center;
}

#footer {
    padding-bottom: 30px;
}
