<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Chattanooga, TN</h2>
            <hr class="primary">
            <h3>Getting There and Away</h3>
            <p>Chattanooga is located in southeast Tennessee, about an hour south of Knoxville.</p>
            <p>
                There is a local airport, as well as one in Knoxville. We recommend flying into Chattanooga.
            </p>
			<!-- <p>
                It is approximately 7.5 hours from New Orleans and eastern Virginia.
            </p> -->
            <hr class="primary">
            <h3>Where to Stay</h3>
            <p>
                Below is a brief list of recommendations on places to stay in north Chattanooga.
            </p>
            <p>We will provide a shuttle from Springhill Suites to the venue.
			</p>
            <table class="table table-striped">
                <tr>
                    <th class="col-md-2">Springhill Suites by Marriot Chattanooga North/Ooltewah</th>
                    <td>
                        The <a href="https://goo.gl/maps/bCCwm4HxztHDCwpA9" class="anchor-dark">Springhill Suites</a> is conveniently located just off the highway and close to the wedding venue.
                        We have a block of discounted rooms reserved there - use the code <code>CODE</code> to get the group discount.
                    </td>
                </tr>
                <tr>
                    <th class="col-md-2">Hampton Inn Chattanooga North/Ooltewah</th>
                    <td>
                        The <a href="https://goo.gl/maps/VrvrLmUHR9zzP4P56" target="_blank" rel="noopener noreferrer" class="anchor-dark">Hampton Inn</a> is located across the street from the Springhill Suites.
                        We don't have a block, but use <a href="https://www.hilton.com/en/book/reservation/deeplink/?ctyhocn=CHANOHX&corporateCode=0002975993&arrivalDate=2022-09-30&departureDate=2022-10-02" class="anchor-dark">this link</a> to get our discounted rate.
                    </td>
                </tr>
            </table>
            <!-- <hr class="primary">
            <h3>Things to Do</h3>
            <p>There's no shortage of things to do in Chattanooga! Some ideas are listed below.</p>
            <h4>THING</h4>
            <p>
                text about it
            </p>
            <h4>THING</h4>
            <p>
                text about it
            </p> -->
        </div>
    </div>
</div>
