{% load static %}
<div class="container">
        <h2 class="section-heading text-center">Gifts</h2>
        <hr class="primary">
        <p style="text-align: center;">
            We are blessed enough with each other and all of our wonderful family and friends. <br>
            If you would still like, our registry is <a class="anchor-dark" href="https://www.zola.com/registry/marinaandericwedding">here.</a> <br>
            Due to our current living arrangements(our RV), we please request no physical gifts.
        </p>
</div>
