<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Our Story</h2>
            <hr class="primary">
            <p>
                We met on Bumble at the beginning of the pandemic. After bonding over SteveMRE1989, crappy reality TV,
                and asian food, we finally met in April 2020. Since then, we've basically been inseperable!
            </p>
            <p>
                One cat, two RVs, and endless photos later, we figured it was time to get hitched. We can't wait to see you
                all and celebrate!
            </p>
        </div>
    </div>
</div>
